*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(75, 75, 75);

  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .card{
        border: 1px solid rgb(75, 75, 75);
        width: 13rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        background-color: aliceblue;
        border-radius: 0.625rem;

        .cardFooter{
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .button-grp{
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;        

            button{
              padding: 0.5rem;
            }

            .btn-done{
              background-color: rgb(5, 73, 9);
              color: aliceblue;
              border-radius: 0.625rem;
              border: none;
              &:hover{
                cursor: pointer;
                background-color: rgb(8, 102, 14);
              }
              &:focus{
                background-color: rgb(14, 153, 23);
              }
            }
            .btn-undone{
              background-color: rgb(158, 5, 5);
              color: aliceblue;
              border-radius: 0.625rem;
              border: none;
              &:hover{
                cursor: pointer;
                background-color: rgb(189, 9, 9);
              }
              &:focus{
                background-color: rgb(219, 10, 10);
              }
            }
          }
        }
      }
    }
}

